<html lang="{{ .Site.LanguageCode | default "en" }}">
    <div class="topnav">
  <a class="active" href="www.topwisebrewing.com.au">Home</a>
  <a href="www.topwisebrewing.com.au/store">Shop</a>
  <a href="www.topwisebrewing.com.au/find-our-beer">Stockists</a>
  <a href="www.topwisebrewing.com.au/index">About</a>
</div>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partial "footer.html" . -}}
    </body>
</html>
