.button-container {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

button,
.button,
a.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  margin-bottom: 5px;
  background: #000;
  transition: ease-in-out 0.2s 0.05s;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid transparent;
  appearance: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  
  @media (prefers-color-scheme: dark) {
  background: $dark-background-secondary;
  color: inherit;
  }
  
  :hover {
      transform: scale(0.97);
      background-color: #4a90e2;
      color: #000;
      transition: ease-in-out 0.2s 0.05s;
    }

  &.outline {
    background: transparent;
    border-color: $light-background-secondary;
    box-shadow: none;
    padding: 8px 18px;

    @media (prefers-color-scheme: dark) {
      border-color: $dark-background-secondary;
      color: inherit;
    }

    :hover {
      transform: scale(0.97);
      background-color: #4a90e2;
      color: #000;
      transition: ease-in-out 0.2s 0.05s;
    }
  }

  &.primary {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);

    &:hover {
      transform: scale(0.97);
      background-color: #e2d237;
      border: #e2d237;
      color: #000;
      box-shadow: inset 2px 2px 3px 2px #81a095a6;
      transition: ease-in-out 0.2s 0.05s;
    }
  }

  &.link {
    background: none;
    font-size: 1rem;
  }

  &.small {
    font-size: .8rem;
  }

  &.wide {
    min-width: 200px;
    padding: 14px 24px;
  }
}

button:hover,
.button:hover,
a.button:hover {
  transform: scale(0.97);
  background-color: #4a90e2;
  color: #000;
  transition: ease-in-out 0.2s 0.05s;
}

.code-toolbar {
  margin-bottom: 20px;

  .toolbar-item a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3px 8px;
    margin-bottom: 5px;
    background: $light-background-secondary;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
    appearance: none;
    cursor: pointer;
    outline: none;

    @media (prefers-color-scheme: dark) {
      background: $dark-background-secondary;
      color: inherit;
    }
  }
}
