@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("../fonts/Inter-UI-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Italic.woff2") format("woff2"),
       url("../fonts/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Inter-UI-Medium.woff2") format("woff2"),
       url("../fonts/Inter-UI-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Inter-UI-MediumItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Inter-UI-Bold.woff2") format("woff2"),
       url("../fonts/Inter-UI-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: 'VarelaRound';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/VarelaRound-Regular.ttf") format("ttf");
}
@font-face {
  font-family: 'Comfortaa';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Comfortaa-Regular.ttf") format("ttf");
}
@font-face {
  font-family: 'Comfortaa';
  font-style:  normal;
  font-display: auto;
  font-weight: 200;
  src: url("../fonts/Comfortaa-Light.ttf") format("ttf");
}
@font-face {
  font-family: 'Comfortaa';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Comfortaa-Medium.ttf") format("ttf");
}
@font-face {
  font-family: 'Comfortaa';
  font-style:  normal;
  font-display: auto;
  font-weight: 700;
  src: url("../fonts/Comfortaa-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: 'Comfortaa';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Comfortaa-Bold.ttf") format("ttf");
}
@font-face {
  font-family: 'PTSansCaption';
  font-style:  normal;
  font-display: auto;
  font-weight: 700;
  src: url("../fonts/PTSansCaption-Bold.ttf") format("ttf");
}
@font-face {
  font-family: 'PTSansCaption';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/PTSansCaption-Regular.ttf") format("ttf");
}
