.post-content {
  table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 1.4em;
    min-width: 400px;
    max-width: 100%;

    th {
      padding: 10px;
      border: 1px solid #fff;

      @media (prefers-color-scheme: dark) {
        border: 1px solid #fff;
      }
    }
    
    td {
      padding: 0;
      border: 1px solid #fff;

      @media (prefers-color-scheme: dark) {
        border: 1px solid #fff;
      }
    }

    thead {
      tr {
        background-color: #fafafa33;
        color: #000;
        text-align: left;

        @media (prefers-color-scheme: dark) {
          background-color: #fafafa33;
          color: #000;
        }
      }
    }

    tbody {
      tr {
        border: 1px solid #fff;
        
        @media (prefers-color-scheme: dark) {
          border: 1px solid #fff;
        }
        a {
          display: block;
          padding: 10px;
        }
      }
      tr:hover {
        background-color: #22444454;
      }
    }
  }
}
