@charset "UTF-8";

/* Light theme color */
$light-background: #fff;
$light-background-secondary: #244;
$light-background-header: rgba(250, 250, 250, 0.2);
$light-color: #fff;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;

/* Dark theme colors */
$dark-background: #fff;
$dark-background-secondary: #244;
$dark-background-header: rgba(250, 250, 250, 0.2);
$dark-color: #000;
$dark-color-secondary: #999;
$dark-border-color: #dcdcdc;
$dark-table-color: #dcdcdc;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;
