<footer>
    <div class="column"></div>
    <div class="column">
        {{ i18n "generator" | safeHTML }}
    </div>
    <div id="age-verify">
<div style="max-width: 350px;margin:0 auto;padding-top: 80px;text-align:center"><img src="https://img.icons8.com/flat_round/64/000000/lock--v5.png"><br><br><h2 style="color:white">Are you 21 or older?</h2><p>This website requires you to be 21 years of age or older. Please verify your age to view the content, or click Exit to leave.</p><button style="background: green" onclick="acceptCookie();">I'm over 21</button><br><a style="color:white" href="about:blank"><button style="background: #ce2c2c">Exit</button></a></div></div>

<style>#age-verify{position: fixed;z-index: 9998;top: 0;right: 0;left: 0;bottom: 0;width: 100%;height: 100%;background-color: #000;color:#fff;font-family:inherit;padding:20px;visibility:hidden}
#age-verify button{color:inherit;border:0;padding:10px;margin-top:10px;width:100%;cursor:pointer}
@media only screen and (max-width:600px){#age-verify{max-width:100%;bottom:0;left:0;border-radius:0}}</style>

<script>function acceptCookie(){document.cookie="cookieaccepted=1; expires=Thu, 18 Dec 2030 12:00:00 UTC; path=/",document.getElementById("age-verify").style.visibility="hidden"}document.cookie.indexOf("cookieaccepted")<0&&(document.getElementById("age-verify").style.visibility="visible");</script>
</footer>
