<form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true" style="max-width: 303px;margin:30px 225px;padding-top: 2px;text-align:left"	>
  <p>
    <label>Name: <input type="text" name="name" style="width:303px" /></label>
  </p>
  <p>
    <label>Email: <input type="text" name="name" style="width:303px" /></label>
  </p>
  <p>
    <label>Message: <textarea name="message" style="width:303px; height:150px"></textarea></label>
  </p>
  <div data-netlify-recaptcha="true" style="text-align:right" ></div>
  <p>
    <button type="submit" background="#1239">SEND</button>
  </p>
</form>
