<form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true" style="max-width: 303px;margin-left: auto;margin-right: auto;padding-top: 2px;text-align:left">
  <p style="line-height: 1.15">
    <label style="color: #244;font-weight: bold;font-variant-caps: petite-caps">Name: <input type="text" name="name" style="width:303px" /></label>
  </p>
  <p style="line-height: 1.15">
    <label style="color: #244;font-weight: bold;font-variant-caps: petite-caps">Email: <input type="email" name="email" style="width:303px" /></label>
  </p>
  <p style="line-height: 1.15">
    <label style="color: #244;font-weight: bold;font-variant-caps: petite-caps">Phone: <input type="phone number" name="phone" style="width:303px" /></label>
  </p>
  <p style="line-height: 1.15">
    <label style="color: #244;font-weight: bold;font-variant-caps: petite-caps">Message: <textarea name="message" style="width:303px; height:130px"></textarea></label>
  </p>
  <div data-netlify-recaptcha="true" style="text-align:right" ></div>
  <p>
    <button type="submit">SEND</button>
  </p>
</form>
