<div id='map' style='width: 400px; height: 300px;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoidG9wd2lzZWJyZXdpbmciLCJhIjoiY2tudnhvdjJuMDQ4azJwdGc3YnY4cjl5eCJ9.elOlFar5zj_mn_krxc_LXA';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/topwisebrewing/cknw3w63z155w17qnmp8meewn',
  });
  
  map.on('click', function(e) {
  var features = map.queryRenderedFeatures(e.point, {
    layers: ['map'] // replace this with the name of the layer
  });
  if (!features.length) {
    return;
  }

  var feature = features[0];

  var popup = new mapboxgl.Popup({ offset: [0, -15] })
    .setLngLat(feature.geometry.coordinates)
    .setHTML('<h3>' + feature.properties.title + '</h3><p>' + feature.properties.description + '</p>')
    .addTo(map);
});
</script>
