<div class='sidebar'>
  <div class='heading'>
    <h1 style='text-align: -webkit-center;'>Find Us!</h1>
  </div>
  <div id='listings' class='listings'></div>
</div>
<div id="map" class="map" style='width: 88%; height: 300px; margin-inline: auto;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoidG9wd2lzZWJyZXdpbmciLCJhIjoiY2tudnhvdjJuMDQ4azJwdGc3YnY4cjl5eCJ9.elOlFar5zj_mn_krxc_LXA';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/topwisebrewing/cknw3w63z155w17qnmp8meewn',
  });
  
  map.on('click', function(e) {
  var features = map.queryRenderedFeatures(e.point, {
    layers: ['map'] // replace this with the name of the layer
  });
  if (!features.length) {
    return;
  }

  var feature = features[0];

  var popup = new mapboxgl.Popup({ offset: [0, -15] })
    .setLngLat(feature.geometry.coordinates)
    .setHTML('<h3><a target="_blank" href="' + feature.properties.link + '">' + feature.properties.name + '</a></h3>')
    .addTo(map);
});
</script>
