<div id="menu">
     <ul>
        <li><a href="#">HOME</a></li>
        <li id="categories"><a href="#">CATEGORIES +</a>
            <ul>
                 <li><a href="#">HTML5</a></li>
                 <li><a href="#">ASP.NET WEB API</a></li>
                 <li><a href="#">ORACLE</a></li>
                 <li><a href="#">SQL SERVER</a></li>
                 <li id="da">
                     <a href="#">DESKTOP APPLICATIONS +</a>
                     <ul>
                        <li><a href="#">DATAGRIDVIEW (C#)</a></li>
                        <li><a href="#">CALCULATOR APP</a></li>
                    </ul>
                 </li>
                <li><a href="#">SUBSCRIBE</a></li>
              </ul>
            </li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </div>
<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range sort .Site.Menus.main "Weight" -}}
            <li class="menu_inner li"><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
        {{- end }}
    </ul>
</nav>
