html,body{color:#fff;margin:1rem;padding:0}html{font-family:Montserrat,"Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif;font-size:16px;overflow-y:auto}@import "bourbon";
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
}
html, body{
  font-family: helvetica;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: Raleway;
  line-height: 1.4;
}
body {
font-size: 100%;
  
  @media (min-width: 32em) {
    font-size: 110%
  }
  @media (min-width: 54em) {
    font-size: 111%
  }
  @media (min-width: 74em) {
    font-size: 115%
  }

  @media (min-width: 96em) {
    font-size: 135%
  }
}
a.btn{
  background-color: #54A984;
  color: #fff;
  text-decoration: none;
  display:inline-block;
  letter-spacing: 0.1em;
  padding: 0.5em 0em;
  
  &.btn-beta{
    background-color: #e36e3a;
  }
}
.decor-line {
	position:	relative;
	top:	0.7em;
  border-top: 1px solid #ccc;
  text-align:center;
  max-width: 40%;
  margin: 0.5em auto;
  display: block;
  padding: 0.1em 1em;
  color: #ccc;
  
  span{
    background: #fff;
    color: #ccc;
    position: relative;
    top: -.7em;
    padding: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight:	900;
  }
}
.overlay-verify{
  background: #000;
  position:fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.box{
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  bottom: 0;
  margin: 0 auto;
  z-index: 9;
  width: 70%;
  height: 40%;
  display:table;
  
  .box-left, .box-right{
    width: 100%;
    position: relative;
    text-align: center;
    padding: 5%;
    
    @media (min-width: 54em){
    	display:table-cell;
    	vertical-align:middle;
    	width: 50%;
    }
    
    p{
      //padding: 5%;
      position: relative;
      z-index: 3;
    }
  }
  .box-left{
     background:url(http://uiclients.com/thinc/assets/images/block-bg-2.jpg) 50% 50%;
    background-size: cover;
    color: #fff;
    
    img{
      position: relative;
      z-index: 4;
      width: 9em;
    }
    
    &:after{
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.4);
    }
  }
  
  .box-right{
    text-align: center;
    
    h3 {
      color: #555;
      text-transform: uppercase;
      letter-spacing: 0.07em;
      border-bottom: 1px solid #eee;
      padding-bottom: 1em;
      margin: 0 auto;
    }
    p{
      color: #aaa;
    }
    small{
      color: #ccc;
    }
    .btn{
      font-weight: 600;
      letter-spacing: 0.2em;
      padding: 0.9em 1em 0.7em;
      margin: 1em auto;
      display: block;
    }
  }
}body{background-color:#6fcdbd}a{-webkit-transition:color 0.2s ease-out;-moz-transition:color 0.2s ease-out;transition:color 0.2s ease-out;color:#fff}a:hover{color:#333}h1{font-size:9rem}h2{font-size:3rem;font-weight:normal}h3{font-size:2rem;font-weight:normal}@media screen and (max-width: 992px){h1{font-size:15vw}h2{font-size:2.5rem}}img.portrait{box-sizing:border-box;border-radius:50%;border:10px solid #fff;margin:2em 3em;width:100%;height:auto;max-width:300px;max-height:300px}.column{flex:1}main .block{display:flex}main .block.introduction{margin-top:5vh;min-height:calc(5vh - 5vh)}main .column.left{text-align:end}main .column.right h1{margin-left:0px;margin-bottom:0.4em}main .column.right h2{margin-left:-4px;margin-top:0}main .column.right .links{margin-top:2.5rem;font-size:2rem}main .column.right .links a{margin-right:0.5rem;text-decoration:none}@media screen and (max-width: 992px){main .block{flex-direction:column}main .block.introduction{margin-top:0}main .column.left{text-align:center}main .column.right h1{margin-top:0}main img.portrait{margin:0}}footer{display:flex;margin-top:3rem;font-size:0.75rem}@media screen and (max-width: 992px){footer{flex-direction:column}}
