{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image:url(/LBG1.png);background-position: 64% 75%;" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main">     
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="animate__animated animate__bounceInDown animate__slow center" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1 class="title-page">{{ .Site.Title }}</h1>
            {{- with .Site.Params.homeSubtitle }}
                <h2 class="title-page" style="color: #000;text-shadow: 0 4px 4px #74d6c4;font-weight: 900!important;">{{.}}</h2>
            {{- end }}

            <h5 class="title-page">{{ partial "description.html" . }}</h5>

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
