<style>
h2 {
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0 3px 3px #000;
    color: #fff;
    
    @media (max-width: 684px)
  h2 {
    font-size: 1.4rem;
  }
}
</style>

{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main class="post">

        <article>
            <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
                                                             
            <div class="post-content">
                {{ .Content }}
            </div>
        </article>
                                     
       <div>
          {{ partial "tags.html" . }}
  		</div>
    </main>
{{ end }}
