{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

<p>Roll the mouse over menu headers!</p>

    <div id="menu">
        <ul>
            <li><a href="#">HOME</a></li>
            <li id="categories"><a href="#">CATEGORIES +</a>
                <ul>
                    <li><a href="#">HTML5</a></li>
                    <li><a href="#">ASP.NET WEB API</a></li>
                    <li><a href="#">ORACLE</a></li>
                    <li><a href="#">SQL SERVER</a></li>
                    <li id="da">
                        <a href="#">DESKTOP APPLICATIONS +</a>
                        <ul>
                            <li><a href="#">DATAGRIDVIEW (C#)</a></li>
                            <li><a href="#">CALCULATOR APP</a></li>
                        </ul>
                    </li>
                    <li><a href="#">SUBSCRIBE</a></li>
                </ul>
            </li>
            <li><a href="#">CONTACT</a></li>
        </ul>
    </div>

{{ define "main" }}
    <main class="post">

        <article>
            <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
                                                             
            <div class="post-content">
                {{ .Content }}
            </div>
        </article>
                                     
       <div>
          {{ partial "tags.html" . }}
  		</div>
    </main>
{{ end }}
