{{ define "main" }}

<main>
  <article class="box">
    <div class="box-left">
      <img src="http://uiclients.com/thinc/assets/images/thinc-drop-white.svg">
    <p>THINC Pure products are only for use in states where the sale and consumption of such products are legal. </p>
    </div>
    <div class="box-right">
      <h3>Age Verification</h3>
      <p>By clicking enter, I certify that I am over the age of 21 and will comply with the above statement.</p>
      
      <a href="#" class="btn btn-alpha"  id="refresh-page">ENTER</a>
      
      <p class="decor-line"><span>Or</span></p>
      
      <a href="#" class="btn btn-beta" id="reset-session">EXIT</a>
      
      <small>Always enjoy responsibily.</small>
    </div>
    </div>
  </article>
  
  <div class="overlay-verify"></div>

        <div class="block introduction">
            <a href="https://www.topwisebrewing.com.au">
            <img src="images/website logo.webp" alt="Portrait" class="animate__animated animate__bounceInDown animate__slow" width="270" height="100"/>
	</a>
        </div>
        <div class="column right">
            {{- with .Param "greeting" -}}
                {{- else -}}
                <h1>{{ i18n "hello" }}</h1>
            {{- end -}}
            <h2>{{ "Dedicated to Haze" }}.</h2>
            <p>{{- partial "introduction.html" . -}}</p>

            <div class="links">
                {{- range .Site.Params.links -}}
                    <a rel="me" href="{{ .url | safeURL }}" title="{{ .title }}" target="_blank">
                        <span class="{{ .iconset | default "fab" }} {{.iconorigin | default "fa" }}-{{ .icon }}"></span>
                    </a>
                {{- end -}}
            </div>
        </div>
    </div>
    {{- if (fileExists "layouts/partials/content.html") -}}
        <div class="block">
            <div class="column left"></div>
            <div class="column right">
                {{- partial "content.html" . -}}
            </div>
        </div>
    {{- end -}}
</main>

{{ end }}
